APScheduler==3.6.3
certifi==2022.12.7
chardet==3.0.4
Django==1.11.29
django-apscheduler==0.3.0
funcsigs==1.0.2
futures==3.3.0
idna==2.9
pytz==2020.1
requests==2.23.0
six==1.15.0
tzlocal==2.1
urllib3==1.25.9
