{% extends 'base.html' %}

{% block content %}

    <ul class="nav nav-pills categories">
        <li class="active"><a href="#">摘抄</a></li>
        <li><a href="#">感悟</a></li>
        <li><a href="#">笔记</a></li>
        <li><a href="#">心愿</a></li>
        <li><a href="#">与她</a></li>
    </ul>
    <div class="container post">
        <div class="row">
            <div class="col-md-4 post-title">
                <h1>{{ post.title }}</h1>
                <p class="author"><strong>ylm</strong>
                    <span class="text-muted">{{ post.published_date }}</span>
                    <a href="{% url 'post_edit' pk=post.pk %}"><span><i class="icon-pencil"></i> 编辑</span></a>
                    <a href="{% url 'post_remove' pk=post.pk %}"><span><i class="icon-trash"></i> 删除</span></a>
                </p>
            </div>
            <div class="col-md-8 col-md-offset-0 post-body">
                {{ post.text|linebreaksbr }}
            </div>
        </div>
    </div>
{% endblock %}