<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body>
    <header style="background-image:url(&quot;assets/img/Bpr3Am5qyxY.jpg&quot;);height:600px;">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="#" style="padding:40px;"><span class="text-title" style="font-size:37px;font-family:Courgette, cursive;">Coffers&nbsp;</span></a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active" role="presentation"><a href="#">Newest</a></li>
                        <li role="presentation"><a href="#">Diary</a></li>
                        <li role="presentation"><a href="#">About me</a></li>
                    </ul>
            </div>
            </div>
        </nav>
        <div class="container post" style="width:250px;margin-top:150px;padding-top:15px;padding-bottom:15px;background-color:rgba(205,205,205,0.62);">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Login</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"><input class="input-lg" type="text" name="username" required="" placeholder="  用户名" maxlength="20" minlength="1" autofocus="" autocomplete="on" style="margin:0px;margin-left:0;width:220px;margin-right:0;"></div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"><input class="input-lg" type="text" name="password" required="" placeholder="  密码" maxlength="20" minlength="1" autofocus="" autocomplete="on" style="margin-left:0;width:220px;margin-right:0;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><button class="btn btn-primary btn-lg" type="submit" style="margin-right:0;margin-left:0;width:220px;">进入</button></div>
            </div>
        </div>
    </header>
    <footer>
        <h5>Caffers by Liuming Yang © 2018</h5>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>